<div class="alert alert-success" role="alert">
  <h1 class="text-center">Result Management System</h1>
</div>

<h3 class="text-center">
  <small class="text-muted ">Login as</small>
</h3>
<div class="col text-center">
<a href="/teacherVerification" type="button" class="btn btn-primary text-center">Teacher</a>
<a href="/student" type="button" class="btn btn-primary text-center">Student</a>
</div>