<div class="alert alert-success" role="alert">
  <h1 class="text-center">Result Management System</h1>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" onclick="history.back()"><a href="#">back</a></li>
    <li class="breadcrumb-item active" aria-current="page">Teacher Login</li>
  </ol>
</nav>
{{#if alert}}
<div class="alert alert-warning " role="alert">
  {{alert}}
</div>
{{/if}}
<form action="teacherAuth" method="post">
  <div class="form-group row ">
    <label class="col-sm-2 col-form-label">TeacherID</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="teacherid">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name="password">
    </div>
  </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>